<div>
    {% if null != media.name %}
        <h2>{{ media.name|raw }}</h2>
    {% endif %}

    <p>{{ sylius_cms_render_content(media) }}</p>

    <a class="btn btn-primary" target="_blank" href="{{ path('sylius_cms_shop_media_download', {'code': media.code}) }}">
        {{ ux_icon('tabler:download', { class: 'icon' }) }}
        {{ 'sylius_cms.ui.download'|trans }}
    </a>
</div>
