{% block sylius_cms_plugin_trix_strategy_widget %}
    {% set uid = id|replace({'[': '_', ']': ''}) %}
    {% set toolbar_id = 'trix-toolbar-' ~ uid %}

    <div data-live-id="{{ uid }}">
        <input type="hidden" id="{{ id }}" name="{{ full_name }}" value="{{ value }}" {{ block('widget_attributes') }}/>

        <trix-toolbar data-live-ignore id="{{ toolbar_id }}"></trix-toolbar>

        <trix-editor data-live-ignore input="{{ id }}" toolbar="{{ toolbar_id }}"></trix-editor>
    </div>
{% endblock %}
