{% block sylius_cms_plugin_trix_strategy_widget %}
    {% set uid = id|replace({'[': '_', ']': ''}) %}
    {% set toolbar_id = 'trix-toolbar-' ~ uid %}

    <div {{ sylius_test_html_attribute('editor') }}>
        <input type="hidden" id="{{ id }}" name="{{ full_name }}" value="{{ value }}" />

        <trix-toolbar id="{{ toolbar_id }}"></trix-toolbar>
        <trix-editor input="{{ id }}" toolbar="{{ toolbar_id }}"></trix-editor>
    </div>
{% endblock %}
