<div class="card mb-4" {{ sylius_test_html_attribute('content-elements') }}>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                {{ form_label(hookable_metadata.context.form.contentElements) }}
                {{ form_errors(hookable_metadata.context.form.contentElements) }}
            </div>
        </div>

        {% for content_element_form in hookable_metadata.context.form.contentElements %}
            <div class="card mb-3" cms-content-element {{ sylius_test_html_attribute('content_element') }}>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row">
                                {{ form_label(content_element_form.type, null, {
                                    label_attr: {class: 'col-form-label col-auto'}
                                }) }}
                                <div class="col">
                                    {{ form_widget(content_element_form.type, sylius_test_form_attribute('content-element-type')) }}
                                    {{ form_errors(content_element_form.type) }}
                                </div>
                            </div>
                        </div>
                        {{ form_row(content_element_form.vars.button_delete, sylius_test_form_attribute('delete-content-element')) }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col text-end">
                {{ form_widget(hookable_metadata.context.form.contentElements.vars.button_add, sylius_test_form_attribute('add-content-element')) }}
            </div>
        </div>
    </div>
</div>
