<div class="{{ content_element_base_class }}__pages-collection mb-3">
    <div class="row">
        {% for page in collection %}
            {% if page.teaserImage or page.teaserTitle or page.teaserContent %}
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card rounded-5 h-100">
                        {% if page.teaserImage %}
                            <a href="{{ path('sylius_cms_shop_page_show', {'slug': page.slug}) }}">
                                <img src="{{ page.teaserImage.path|imagine_filter('sylius_shop_product_thumbnail') }}"
                                     alt="{{ page.teaserTitle }}" class="card-img-top">
                            </a>
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            {% if page.teaserTitle %}
                                <a href="{{ path('sylius_cms_shop_page_show', {'slug': page.slug}) }}" class="link-reset mb-auto">
                                    <h3 class="card-title">{{ page.teaserTitle }}</h3>
                                </a>
                            {% endif %}
                            {% if page.teaserContent %}
                                <p class="card-text line-clamp mb-0" style="--line-clamp-number: 3;">
                                    {{ page.teaserContent }}
                                </p>
                                <a href="{{ path('sylius_cms_shop_page_show', {'slug': page.slug}) }}" class="mb-3">
                                    {{ 'sylius_cms.ui.read_more'|trans }}
                                </a>
                                <p class="mb-0">{{ page.createdAt|date('Y-m-d') }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
